# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
test.py
test2.py

# Environnements virtuels
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Fichiers de config sensibles
.env
*.log
